.compare-bikes {
  @include page-grid;
  @include constent-padding-inline;
  &__title {
    grid-column: 1 / -1;
    margin-block: 92px 48px;

    @include on-tablet {
      margin-block: 132px 48px;
    }

    @include on-desktop {
      margin-block: 164px 56px;
    }
  }

  &__card {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include on-tablet {
        margin-bottom: 48px;
      }

      @include on-desktop {
        margin-bottom: 0;
      }
    }
  }
}
