.contacts {
  @include page-grid;
  @include constent-padding-inline;

  &__title {
    margin-bottom: 48px;
    grid-column: 1 / -1;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
      margin-bottom: 120px;
    }

    @include on-desktop {
      grid-column: span 5;
      margin-bottom: 182px;
    }
  }

  &__info {
    grid-column: 1 / -1;
    margin-block: 48px 120px;

    @include on-tablet {
      grid-column: span 3;
      margin: 0;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }
}
