.form{
  &__input{
    @include focus(box-shadow, 1px 4px 16px 0px #E8E8F066);
    @include hover(border, 1px solid #D5D7DE);

    width: 100%;
    box-sizing: border-box;
    height: 56px;
    background-color: $main-text-color;
    border-radius: 40px;
    color: $menu-text-color;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    letter-spacing: 0px;
    border: none;
    grid-column: 1 / -1;
    margin-bottom: 16px;
    line-height: 20px;
    padding: 16px;
    outline: none;

    &--text{
      resize: none;
      font-family: inherit;
      height: 148px;
      border-radius: 16px;
    }
  }

  &__button{
    width: 100%;
    margin-top: 16px;
    grid-column: 1 / -1;
  }
}
