@mixin onTablet{
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop{
  @media (min-width: $desktop-min-width){
    @content;
  }
}

@mixin constentPaddingInline{
  padding-inline: 20px;

  @include onTablet(){
    padding-inline: 72px;
  }

  @include onDesktop(){
    padding-inline: 121px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin focus($property, $toValue){
  transition: #{$property} 0.3s;
  &:focus {
    #{$property}: $toValue;
  }
}

@mixin pageGrid{
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  column-gap: 20px;

  @include onTablet(){
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    column-gap: 24px;
  }

  @include onDesktop(){
    grid-template-columns: repeat(12, minmax(63px, 1fr));
    column-gap: 24px;
  }
}
